@model IEnumerable<ventasControl.Models.Product>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Active</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
            foreach (var item in Model)
            {
            <tr>
                <td>@item.Name</td>
                <td>@item.UnitPrice</td>
                <td>@item.Quantity</td>
                <td>@item.Active</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
            }
            }
            else
            {
            <tr>
                <td colspan="5">No products found.</td>
            </tr>
            }
        </tbody>
    </table>
